**/.angular
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.venv
**/.version
**/.vs
**/.vscode
**/*.*proj.user
**/*.bak
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/coverage
**/coverageReport
**/docker-compose*
**/Dockerfile*
**/docs
**/eng
**/node_modules
**/npm-debug.log
**/obj
**/out
**/secrets.dev.yaml
**/TestResults
LICENSE
README.md
