{
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.ts,*.js",
            "options": {
                "quoteProps": "consistent",
                "semi": true,
                "trailingComma": "es5"
            }
        },
        {
            "files": "*.yml",
            "options": {
                "quoteProps": "consistent",
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}
